- set_meta_tags title: topic.name
- set_meta_tags :og => {:title => "Mami Amiga - #{topic.name}" , :url => "http://mamiamiga.com/", :image => image_url('logo-web.png'), :description => 'Mamá a tiempo completo de una pequeñita que amo con locura. Aquí encontrarás ideas, experiencias e inspiración para disfrutar al máximo ser mamá.', :fb => { :app_id => '241073229593702' } }
- set_meta_tags description: 'Mamá a tiempo completo de una pequeñita que amo con locura. Aquí encontrarás ideas, experiencias e inspiración para disfrutar al máximo ser mamá.'
- set_meta_tags keywords: %W[mamiamiga mami mama amiga loncheras maternidad consejos]

.col-md-8
	- posts.each do |post|
		.post_date.margin-top-20
			= l(post.published_at, :format => '%A %d de %B del %Y, %H:%M')
		.post_title
			= post.title
		.post_content
			= truncate(sanitize(post.content, :tags=>[]), :length => 400, :separator => ' ')
			%br
		= link_to 'LEER MÁS ', post, class: 'read_more'
	= will_paginate @posts

.col-md-4
	= render partial: 'sidebar'
