#slide
	%ul.slideme
		- @posts_slider.each do |post_slider|
			%li
				%a{href: post_path(post_slider), class:'image_post'}
					= image_tag(post_slider.slider_image)
%ul.featured_posts
	- @posts_featured.each do |post_featured|
		%li.home_featured
			%a{href: post_path(post_featured), class:'image_post'}
				= image_tag(post_featured.featured_image)
.row
	.line
	.col-md-8
		.top_post
			.post_date
				= l(@posts_public.first.published_at, :format => '%A %d de %B del %Y, %H:%M')
			.post_title
				= @posts_public.first.title
			.post_content
				= truncate(@posts_public.first.content_notags, :length => 1400, :separator => ' ', escape: false)
				= link_to 'LEER MÁS ', @posts_public.first, class: 'read_more'

		.bottom_post
			.post_date
				= l(@posts_public.last.published_at, :format => '%A %d de %B del %Y, %H:%M')
			.post_title
				= @posts_public.last.title
			.post_content
				= truncate(@posts_public.last.content_notags, :length => 1400, :separator => ' ', escape: false)
			= link_to 'LEER MÁS ', @posts_public.last, class: 'read_more read_more_white'

	.col-md-4
		= render partial: 'sidebar'

