.row
	.col-md-8
		= form_for post do |f|
			.form-group
				= f.label 'Tema'
				- topic_array = Topic.all.ordered_by_name.map { |topic| [topic.name, topic.id] }
				= f.select(:topic_id, options_for_select(topic_array, f.object.topic_id), {:size => 15, :class => 'form-control half-width'})
			.form-group
				= f.label :title
				= f.text_field :title, class: 'form-control', placeholder: 'Ingresa el título'
			.form-group
				= f.label :content
				= f.bootsy_area :content, rows:40, class: 'form-control', placeholder: 'Ingresa el texto'
			.form_group
				= f.label 'Imagen cuadritos'
				= f.file_field :featured_image
				= f.hidden_field :featured_image_cache
			.form_group
				= f.label 'Imagen slider'
				= f.file_field :slider_image
				= f.hidden_field :slider_image_cache
			.form_group
				= f.label 'En slider'
				= f.check_box :slider, class: 'checkbox'
			.form_group
				= f.label 'En cuadritos'
				= f.check_box :featured, class: 'checkbox'
			.form_group
				= f.label 'Fecha de publicación'
				= f.datetime_select :published_at
				#datetimepicker1.input-group.date
					%input.form-control{:type => "text"}/
					%span.input-group-addon
						%span.glyphicon.glyphicon-calendar
			.form_group
				= f.label 'Privado'
				= f.check_box :private, class: 'checkbox'
			.form-group
				= f.submit "Guardar", class: 'btn btn-success'
