- set_meta_tags title: @post.title
- set_meta_tags :og => {:title => @post.title , :url => post_url(@post), :image => image_url(@post.slider_image), :description => truncate(sanitize(@post.content, :tags=>[]), :length => 200, :separator => ' ')}
- set_meta_tags description: truncate(sanitize(@post.content, :tags=>[]), :length => 200, :separator => ' ')
- set_meta_tags keywords: %W[mamiamiga mami mama amiga loncheras maternidad consejos]

.col-md-8
	.pull-right
		- if policy(@post).new? 
			= link_to "Nuevo", new_post_path, class: 'btn-sm btn-success'
		- if policy(@post).edit? 
			= link_to "Editar", edit_post_path(@post), class: 'btn-sm btn-warning'
	.post_date.margin-top-20
		= l(@post.published_at, :format => '%A %d de %B del %Y, %H:%M')
	.post_title
		= @post.title
	.post_content
		= @post.content.html_safe
	.sharesocial.clearfix
		.social-other.pull-left
			= social_share_button_tag(@post.title)
		.fb-share-button{"data-href" => post_url(@post), "data-layout" => "button_count", "data-mobile-iframe" => "true", "class" => "pull-left"}
	.fb-comments{"data-href" => post_url(@post), "data-numposts" => "5", "data-width" => "100%"}


.col-md-4
	= render partial: 'home/sidebar'

