- set_meta_tags title: @post.title
- set_meta_tags :og => {:title => "Mami Amiga - #{@post.title}" , :url => @post, :image => image_url(@post.slider_image), :description => truncate(@post.content_notags, :length => 200, :separator => ' ', escape: false)}
- set_meta_tags description: truncate(@post.content_notags, :length => 200, :separator => ' ', escape: false)
- set_meta_tags keywords: %W[mamiamiga mami mama amiga loncheras maternidad consejos]

.col-md-8
	.pull-right
		- if policy(@post).new? 
			= link_to "Nuevo", new_post_path, class: 'btn-sm btn-success'
		- if policy(@post).edit? 
			= link_to "Editar", edit_post_path(@post), class: 'btn-sm btn-warning'
	.post_date
		= l(@post.published_at, :format => '%A %d de %B del %Y, %H:%M')
	.post_title
		= @post.title
	.post_content
		= @post.content.html_safe
	= social_share_button_tag(@post.title)

.col-md-4
	= render partial: 'home/sidebar'

