.col-md-8
	.pull-right
		- if policy(@post).new? 
			= link_to "Nuevo", new_post_path, class: 'btn-sm btn-success'
		- if policy(@post).edit? 
			= link_to "Editar", edit_post_path(@post), class: 'btn-sm btn-warning'
	.post_date
		= l(@post.created_at, :format => '%A %d de %B del %Y, %H:%M')
	.post_title
		= @post.title
	.post_content
		= @post.content.html_safe
	= social_share_button_tag(@post.title)

.col-md-4
	= render partial: 'home/sidebar'

